<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper #1a237e indigo darken-4">
      <a href="#" class="brand-logo">Free Food!</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/accounts/login">Login</a></li>
        <li><a href="/food/add_queries">Add Tags</a></li>
        <li><a href="/accounts/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
</div>